@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply m-0 p-0;
  
}

html{
  @apply m-0 p-0;
}

.app-gradient{
  opacity: 0.4;
  background: url(/app-bg.jpg);
  mask-image: linear-gradient(25deg, transparent 20%, rgba(0, 0, 0, 1.0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-bg{
  background: rgb(174,220,238);
  background: radial-gradient(circle, rgb(251 207 232) 0%, rgba(255,255,255,1) 45%);
}



.modal-animation {
  animation-name: ModalEnter;
  animation-duration: 4s;
  animation-delay: 3s;
}

@keyframes ModalEnter {
  0%   {margin-top: -100px;}
  100% {margin-top: 0px;}
  
}
