@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply m-0 p-0;
}

html{
  @apply m-0 p-0;
}

.app-gradient{
  opacity: 0.4;
  background: url(/app-bg.jpg);
  mask-image: linear-gradient(25deg, transparent 20%, rgba(0, 0, 0, 1.0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-bg{
  background: rgb(174,220,238);
  background: radial-gradient(circle, rgba(174,220,238,1) 0%, rgba(255,255,255,1) 45%);
}

